.node {
  width: 1.5vw;
  height: 2.95vh;
  margin: 1px;
  border: 1px solid rgb(175, 216, 248);
  border-radius: 50%;
  display: inline-block;
}



.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(63, 128, 8, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(127, 222, 48, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(145, 236, 69, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(165, 242, 100, 1);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background: radial-gradient(circle, rgba(162,25,212,1) 0%, rgba(162,25,212,1) 50%, white 100%);
  }

  50% {
    transform: scale(1.2);
    background: radial-gradient(circle, rgba(162,25,212,1) 0%, rgba(162,25,212,1) 50%, white 100%);
  }

  100% {
    transform: scale(1);
    background: radial-gradient(circle, rgba(162,25,212,1) 0%, rgba(162,25,212,1) 50%, white 100%);
  }
}



.node-start {
  background: radial-gradient(circle, rgba(77,127,217,1) 0%, rgba(77,127,217,1) 50%, rgba(219,247,242,1) 100%);
  z-index: 1;
}


.node-finish {
  background: radial-gradient(circle, red 0%, red 25%, gold 100%);
  z-index: 2;
}
